.clang-format
.clang-tidy
book.o
clothing.o
movie.o
product.o
product_parser.o
util.h.gch
util.o
.vscode/
hw2_tests.tar.gz
hw2_tests.tar.gz.1
hw2_tests.tar.gz.10
hw2_tests.tar.gz.11
hw2_tests.tar.gz.12
hw2_tests.tar.gz.2
hw2_tests.tar.gz.3
hw2_tests.tar.gz.4
hw2_tests.tar.gz.5
hw2_tests.tar.gz.6
hw2_tests.tar.gz.7
hw2_tests.tar.gz.8
hw2_tests.tar.gz.9
hw2_tests/